#title {
    margin: 50px 0 40px 0; 
    text-align: center;
}

#festivalContainer {
    margin: 30px 10px 0 10px;
}

#listFestivalTitle {
    margin-bottom: 10px;
}

#boxGrid {
    width: 100%;
    max-width: 790px;
}

.actionCell {
    display: flex;
    gap: 5px
}

.iconActionCell {
    margin-right: 5px;
}