$textColor: #000000;
$primaryColor: #6f9600;
$secondaryColor: #fa14ff;
$accentColor: #002663;
$darkColor: #0D1F0D;
$greyColor: #6C756C;
$whiteColor: #EBF5EB;

$breakpointXS: 480px;
$breakpointSM: 600px;
$breakpointMD: 900px;
$breakpointLG: 1200px;
$breakpointXL: 1536px;

$minHeightAppBarSmallScreen: 56px;
$minHeightAppBarWideScreen: 64px;
$borderRadius: 4px;
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// Définir la couleur grise pour la variable manquante
$lightGreyColor: #D3D3D3; // Choisissez une couleur grise appropriée

:export {
  textColor: $textColor;
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  accentColor: $accentColor;
  darkColor: $darkColor;
  greyColor: $greyColor;
  whiteColor: $whiteColor;
  breakpointXS: $breakpointXS;
  breakpointSM: $breakpointSM;
  breakpointMD: $breakpointMD;
  breakpointLG: $breakpointLG;
  breakpointXL: $breakpointXL;
  minHeightAppBarSmallScreen: $minHeightAppBarSmallScreen;
  minHeightAppBarWideScreen: $minHeightAppBarWideScreen;
  borderRadius: $borderRadius;
  boxShadow: $boxShadow;
}
