#fileInputContainer {
    margin: 2px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px dashed #ccc;
    background-color: #eeeeee;
    cursor: pointer;

    &.isDragActive {
      border-color: #2196f3;
      background-color: #e3f2fd;
    }
    
    &.isDragReject {
      border-color: #ff1744;
      background-color: #ffebee;
    }
}
  
  
#fileInputLabel {
    margin-top: 1rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}
  
#fileInputPreview {
    margin-top: 1rem;
    img {
        max-width: 100%;
        max-height: 10rem;
    }
}
  