@import '../../abstract/variables.module.scss';

#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#typoTitle {
    margin-bottom: 20px; 
}

#boxFormRegister {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#multipleSelect {
    margin: 12px 0 20px 0;
}

#buttonRegister {
    margin: 20px 0 10px 0;
}

.googleButton {
    margin: 10px 0 10px 0;
    padding-right: 20px;
    font-size: 1.5em;
}

.googleLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: darken(blue, 10%);
    }
}