@import '../../abstract/variables.module.scss';

#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#typoTitle {
    margin-bottom: 20px; 
}

#boxFormRegister {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#multipleSelect {
    margin: 12px 0 20px 0;
}

#buttonRegister {
    margin: 20px 0 10px 0;
}