// sectionfestival.module.scss
@import "../../abstract/variables.module.scss";

.festivalContainer {
    padding: 20px;
    border: 1px solid $greyColor;
    border-radius: 8px;
    margin: 20px;
}

.festivalTitle {
    margin-bottom: 10px;
}

.festivalDate {
    color: $greyColor;
    margin-bottom: 10px;
}

.festivalAddress {
    color: $greyColor;
    margin-bottom: 20px;
}

.boxElements {
    margin-top: 30px;
}

.boxIconText {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    color: $darkColor;
}

.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}