#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

#title {
    margin: 50px 0 20px 0; 
    text-align: center;
}

#infoFestival {
    margin: 10px 0 30px 0;
    text-align: center;
}

#boxForm {
    display: flex;
    flex-direction: column;
}

.titleSectionForm {
    margin: 30px 0 20px 0;

}

.fieldForm {
    width: 300px;
    margin-bottom: 25px;
}

#boxGrid {
    max-width: 95vw;
    width: 600px;
    margin-top: 20px;
}

#boxTextInsideCircularProgress {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#boxCircularProgress {
    position: relative;
    display: inline-flex;
    margin: 0 10px;
}

.checkbox {
    margin-left: 31px;
}

#typoFlexible {
    margin-top: 10px;
    font-style: italic;
}

#buttonSignup {
    margin: 50px auto 10px auto;
}

