@import '../../abstract/variables.module.scss';

#boxModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 300px;
    background-color: $whiteColor;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 30px 10px;
}

.timePicker1 {
    margin: 20px 0;
}

.typoFormError {
    margin: 10px 0;
}

#button {
    margin-top: 20px;
}

.typoTitle {
    text-align: center;
}