@import '../../abstract/variables.module.scss';

#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin: 50px 0 20px 0; 
    text-align: center;
}

#boxForm {
    display: flex;
    flex-direction: column;
}

#generalInformations {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldForm {
    margin: 10px 0;
    width: 300px;
}

.titleTable {
    margin: 40px 0 10px 0;
}

.boxTablePoste {
    max-width: 95vw;
}

.boxTableCreneau {
    max-width: 95vw;
}

.boxButtonTable {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

#button {
    margin: 50px auto 10px auto;
}

/* Extra small devices (phones, $breakpointXS and down) */
@media only screen and (max-width: $breakpointXS){
    #generalInformations {
        align-items: center;
    }

    .boxSection {
        margin: 0 10px 0 10px !important;
    }
}