@import '../../abstract/variables.module.scss';

#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-bottom: 20px; 
}

#boxForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldForm {
    margin: 10px 0;
    width: 300px;
}

.titleTable {
    margin: 10px 0;
}

.boxTable {
    width: 100%;
}

.boxButtonTable {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

#button {
    margin: 20px 0 10px 0;
}