@import "../../abstract/variables.module.scss";

#toolbar {
    background-color: $primaryColor;
    padding: 0 10px;
    min-height: $minHeightAppBarWideScreen;
}

/* Extra small and small devices (phones, $breakpointMD and down) */
@media only screen and (max-width: $breakpointMD){
    .wideScreen {
        display: none;
    }
}

/* Medium and Largedevices (tablets/laptops/desktops, $breakpointMD and up) */
@media only screen and (min-width: $breakpointMD){
    .smallScreen {
        display: none;
    }
}