@import "../../abstract/variables.module.scss";

#toolbar {
    background-color: $primaryColor;
    padding: 0 10px;
    min-height: $minHeightAppBarWideScreen;
}

#boxPagesWideScreen {
    display: flex;
    flex-grow: 1;
}

.wideScreen {
    display: none !important;
}

/* Medium and Largedevices (tablets/laptops/desktops, $breakpointMD and up) */
@media only screen and (min-width: $breakpointMD){
    .smallScreen {
        display: none !important;
    }

    .wideScreen {
        display: flex !important;
    }
}